*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: poppins , sans-serif;
  color:white;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
  left: 0;
  width: 100%;
  top: 0;
  background-color: #0f172A;
  height: 5rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1000;

}
.image1{
  height: 65px;
}
nav a{
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  font-size: 1.1rem;
  position: relative;
  transition: color 0.6s ease;
}
nav a:hover{
  color: #c3ec09;
}
nav a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  left:0;
  bottom:-6px;
  transform: scaleX(0);
  transition: transform .5s ease;
  cursor: pointer;
  transform-origin: right;

}
nav a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

.hamburger{
  display: none;
}
.close-box{
  display: none;
}

.image2{
  height: 210px;
  border-radius: 10px;
}
.body1{
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  row-gap: 30px;
  
}
.items{

}
h2{
  color: #c3ec09;
  font-style: normal;
  font-weight: bolder;
  font-size: 2.3rem;
}
h1{
  font-size: 3rem;
  font-weight: 100;
  font-style: bold;
}
p{
  font-weight: 200;
  font-weight: bold;
  font-size: 1.2rem;
}
.trade-img{
  margin-right: 35px;
}
.body2{
  margin-top: 70px;
  padding: 30px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 38px;

}
.body3{
  margin-top: 70px;
  padding: 30px;
  
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 38px;
  
  
}
.grid{
  
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 13px;
  
  padding: 10px;
  
}
.image3{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.grod{
  background-color: #0f172A;
  height: 100%;
  padding: 15px;
  border-radius: 17px;
  transition: transform 0.3s ease;

  

}
.grod:hover{
   transform: translateY(-11px);
   
}
.div2{
  margin-bottom: 8px;
}
.p1{
  font-size: 0.856rem;
  font-style: normal;
  font-weight: bold;
}
.h1{
  font-style: normal;
  font-size: 1.60rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
  color: black;
}
.h11{
  font-style: normal;
  font-size: 1.60rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
  color: white;
}
.p11{
  font-size: 0.799rem;
  font-style: normal;
  font-weight: 200;
  
}
.div21{
  margin-top: 10px;
}
.pricing-div{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 13px;
  
  padding: 50px;
}
.price{
  border: solid , white , 1px;
  padding: 20px 20px;
  background-color: #0f172A;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s ease;
  
}
.price:hover{
   transform: translateY(-6px);
   transform: translateY(-8.5px);
}

.price1{
  display: block;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  border-bottom: solid 0.10px white;
  
}
.price1 h2{
  color: white;
  font-size: 1.612rem;
  text-align: center;
  

  
  
  
}
.price1 p{
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  margin-top: 8px;
}
.price2{
  padding: 15px;
}
.price2 h2{
  text-align: center;
  color: #c3ec09;
  font-size: 1.360rem;
  margin-top: 8px;
}
.pri{
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  color: white;
}
.pr1{
  font-size: 1rem;
  color: white;
}
.price3{
  padding: 10px;
  margin-top: 10px;
  
  
}
.price31{
  
  border-bottom: white 0.5px solid;
  
  display: inline-block;
  align-items: center;

  
  justify-content: center;
  margin-top: 9px;
  padding: 10px;
}
.price31 h2{
  display: inline-block;
  
  font-size: 1.35rem;
  
  
}
.price31 span{
  
}
.price4{
  margin-top: 25px;
  padding: 10px;
}
.price4 h1{
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.price4 button{
  margin-top: 20px;
  height: 50px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bolder;
  border-style: none;
  border-radius: 5px;
  transition: 0.85s ease;
  

}
.price4 button:hover , .price4 button:active{
  color: white;
  background-color: #c3ec09;
}
footer{
  margin-top: 40px;
  background-color: #0f172A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 20px;
}
.social-icons {
  display: flex;
  gap: 10px;
  margin-right: 3rem;
  
}

/* icon style */
.social-icons a {
  width: 25px;
  height: 25px;
  font-size: 15px;
  border-radius: 50%;
  background-color: white;
  
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.8rem;
  transition: 0.85s ease;
}
.social-icons a:hover , .social-icons a:active{
  background-color: #c3ec09;
  color: white;
}
.contacts{
  margin-right: -2rem;
  margin-top: 1rem;
  transition: 0.7s ease;
}
.contacts:hover , .contacts:active{
  color: #c3ec09;
}
@media(hover:hover) ,(min-width:481px){
  nav a::after { ... }

}

@media(max-width:600px){
  nav a::after { display: none; }
  nav a:active { ... }
  body , html{
    backdrop-filter: blur(20px);
  
  }
  .navics{
    position: absolute;
    top: 100%;
    width: 75%;
    right: 0;
    background-color: #191f2c;
    border-style: solid;
    padding-left: 0.2rem;
    border-width: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 0;
    padding-bottom: 20px;
    display: none;
    transition: display 0.4s ease;
    cursor: pointer;

  }
  .navics.active11{
    display: block;
  }
  .navics a{
    margin-top: 20px;
    display: block;
    justify-content: center;
    padding: 30px;
    margin-left: 5px;
    margin-bottom: 10px;
    
    font-size: 1.31rem;
    font-weight: bold;
    transition: padding 0.45s ease;
    
    
  }
  .navics a:hover , .navics a:active{
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    
    
    margin-left:5px ;
    padding: 1rem;
    transform: translateY(-0.4px);
    cursor: pointer;
    

  }
  
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  .image1{
    height: 40px;
    margin-left: -20px;
    
  }
  .hamburger{
    display: block;
    height: 25px;
    
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

  }
  .iconc{
    height: 100%;
    width: 100%;
    color: white;
  }
  .body1{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    
  }
  .image2{
    height: 160px;
  }
  .grid{
    display: flex;
    flex-direction: column;
  }
  .body2{
    padding: 0;
  }
  .close-box{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    
    color: white;
    height: 2.8rem;
    width: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.81rem;
    font-weight: bolder;
    border-style: none;
    border-radius: 5px;
    margin-top: -1px;
    margin-right: -1px;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease;
}
.close-box:hover , .close-box:active{
  background-color:black;
  color:white;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  
}


  .body3{
    margin-top: 70px;
    padding: 0;
  
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 38px;
  }
  .pricing-div{
    display: flex;
    flex-direction: column;
    padding: 18.5px;
    gap: 2.5rem;
  }
  footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  nav a{
   font-size: 0.7rem;
   display: block;
   align-items: center;
   justify-content: center;
   margin-top: 0.3rem;
   
}
.contact{
  display: flex;
  flex-direction: column-reverse; /* text goes below */
  align-items: center;
  gap: 0.5rem;
  margin-right: 20px;
  margin-left: 15px;
  
}
/*.contact a{
  width: 20px;
  height: 20px;

  font-size: 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;

}*/
.year{
  
  
  padding: 0.3rem;
}
.year1{
  font-size: 0.75rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.contacts{
  font-size: 0.75rem;
  display: block;
}
/* icons row */
.social-icons {
  display: flex;
  gap: 10px;
  margin-right: -1.38rem;
  
}

/* icon style */
.social-icons a {
  width: 25px;
  height: 25px;
  font-size: 15px;
  border-radius: 50%;
  background-color: white;
  
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -0.28rem;
}
/* contact text */
.contacts {
  font-size: 0.75rem;
  text-align: center;
  margin-right: -2.5rem;
}
.monthe{
  font-size: 0.75rem;
  margin-right: -1rem;
  text-align: center;

}
.price{
  border: solid , white , 1px;
  padding: 20px 20px;
  background-color: #0f172A;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s ease;
  
}
.price:hover{
   transform: translateY(-6px);
   transform: translateY(-8.5px);
}

.price1{
  display: block;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  border-bottom: solid 0.10px white;
  
}
.price1 h2{
  color: white;
  font-size: 1.612rem;
  text-align: center;
  

  
  
  
}
.price1 p{
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  margin-top: 8px;
}
.price2{
  padding: 15px;
}
.price2 h2{
  text-align: center;
  color: #c3ec09;
  font-size: 1.30rem;
  margin-top: 8px;
}
.pri{
  font-size: 0.8rem;
  font-style: normal;
  font-weight: bold;
  color: white;
}
.pr1{
  font-size: 0.8rem;
  color: white;
}
.price3{
  padding: 10px;
  margin-top: 10px;
  
  
}
.price31{
  
  border-bottom: white 0.5px solid;
  
  display: inline-block;
  align-items: center;

  
  justify-content: center;
  margin-top: 9px;
  padding: 10px;
}
.price31 h2{
  display: inline-block;
  
  font-size: 1rem;
  
  
}
.price31 span{
  
}
.price4{
  margin-top: 25px;
  padding: 10px;
}
.price4 h1{
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.price4 button{
  margin-top: 20px;
  height: 40px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bolder;
  border-style: none;
  border-radius: 5px;
  transition: 0.85s ease;
  

}
